In [1]:
from qRover.session import Session

Creating the object

In [2]:
s = Session()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/15 10:17:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/15 10:17:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
s.manager.add_dataset(name="small_file", location="tests/dumps/small_file.csv")

In [4]:
s.manager.dataset_service.dbrepo.datasets

{'small_file': <qRover.datasets.dataset.CSVDataset at 0x1761d7190>}

In [6]:
q = s.rover.fetch(['can'])

In [7]:
q.compute()

          can
0   771302592
1   366613822
2   953987255
3   663398725
4       46715
5  7804624558
6  7710598566
7   738710604
8  7743266946
9      100368

In [8]:
q2 = s.rover.fetch(['family'])

In [9]:
q2.compute()

      family
0  ProSeries
1        ITO
2  ProSeries
3        ITO
4    Lacerte
5  ProSeries
6  ProSeries
7        ITO
8  ProSeries
9    Lacerte

In [10]:
q2 = s.rover.fetch(['family', 'can'])

In [11]:
q2.compute()

      family         can
0  ProSeries   771302592
1        ITO   366613822
2  ProSeries   953987255
3        ITO   663398725
4    Lacerte       46715
5  ProSeries  7804624558
6  ProSeries  7710598566
7        ITO   738710604
8  ProSeries  7743266946
9    Lacerte      100368

In [12]:
s.manager.add_dataset(name="small_equity", location="tests/dumps/small_equity.csv")

In [15]:
q3 = s.rover.fetch(['can','family','desc']).where('family','==',"'ProSeries'")

In [16]:
q3.compute()

          can     family                            desc
0   771302592  ProSeries                Basic 20 returns
1   953987255  ProSeries  1040 Complete (unlimited 1040)
2  7804624558  ProSeries  Basic 4 states, Unlimited 1040
3  7710598566  ProSeries                Basic 50 returns
4  7743266946  ProSeries                Basic 50 returns

In [17]:
r = s.rover

In [18]:
r.fetch(['can','family','desc']).where('family','==',"'ProSeries'").compute()

          can     family                            desc
0   771302592  ProSeries                Basic 20 returns
1   953987255  ProSeries  1040 Complete (unlimited 1040)
2  7804624558  ProSeries  Basic 4 states, Unlimited 1040
3  7710598566  ProSeries                Basic 50 returns
4  7743266946  ProSeries                Basic 50 returns